.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.App > * {
  margin-top: 20px;
}

.App-player {
  /*animation: App-logo-spin infinite 20s linear;*/
  min-height: 100px;
  height: 30vh;
}

.App-list {
  margin: auto;
  margin-top: 20px;
  min-width: 75%;
  min-height: 50vh;
}

.App-list > * {
  border-radius: 8px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  border: 0;
}

.App-link {
  color: #61dafb;
}

/* #2fa0af */

.button-border {
  opacity: 0.98000004;
  fill: #ffffff;
  fill-opacity: 0;
  stroke: #2fa0af;
  stroke-width: 4;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-opacity: 0;
}

.button-border:hover {
  opacity: 0.98000004;
  fill: #ffffff;
  fill-opacity: 0.3;
  stroke: #99d8e0;
  stroke-width: 4;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-opacity: 1;
  /*cursor: pointer;*/
}

.button-border:active {
  opacity: 0.98000004;
  fill: #ffffff;
  fill-opacity: 0.3;
  stroke: #2fa0af;
  stroke-width: 4;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-opacity: 1;
  /*cursor: pointer;*/
}

.button-border-selected {
  opacity: 0.98000004;
  fill: #ffffff;
  fill-opacity: 0.1;
  stroke: #2fa0af;
  stroke-width: 4;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-opacity: 1;
}
