body {
  margin: 5%;
  padding: 0;
  background-color: rgb(37, 70, 70);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  color: whitesmoke;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

button {
  background-color: darkcyan;
  color: whitesmoke;
  border-radius: 8px;
  border: 0;
  padding: 8px 20px;
  font-size: large;
}
